.about {
    position: relative;
    padding: 30px 0;

    .about__container {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .about__img {
        width: 45%;
        z-index: 10;

        .img__img {
            width: 100%;
        }
    }

    .about__bg {
        background: $gray;
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 110%;
        z-index: 5;
    }

    .about__text {
        width: 45%;
        z-index: 10;

        .text__title {
            color: $blue;
            font-size: 36px;
            text-transform: uppercase;
            margin: 0 0 20px 0;
        }

        .text__text {
            margin: 10px 0;
            font-size: 16px;
        }

        .text__btn {
            background: none;
            border: 1px solid $blue;
            color: $blue;
            margin-top: 20px;

            .btn__img {
                margin-left: 10px;
            }
        }
    }
}