.callback {
    background: $blue;
    color: #ffffff;
    padding: 30px 0;

    .callback__title {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 62px;

        @include phones() {
            font-size: 24px;
            margin-top: 0;
        }
    }

    .callback__subtitle {
        font-size: 24px;
        text-align: center;

        @include phones() {
            font-size: 18px;
        }
    }

    .callback__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @include phones() {
            justify-content: center;
        }

        .form__block {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #ffffff;

            @include phones() {
                width: 90%;
                margin-bottom: 20px;
            }

            .form__inp {
                background: none;
                border: none;
                width: 90%;
                font-size: 14px;
                outline: none;
                order: 3;
                padding-left: 10px;

                &::-webkit-input-placeholder {
                    color: #ffffff;
                }
            }
        }

        .form__block-btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form__btn {
            border: 1px solid #ffffff;
            background: none;
            margin-top: 30px;
        }
    }
}