.contacts {
    padding: 30px 0;
    padding-top: 100px;

    @include phones() {
        padding-top: 75px;
    }

    .contacts__title {
        color: $blue;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .contacts__subtitle {
        color: $red;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;

        @include phones() {
            margin-top: 0;
        }
    }

    .contacts__info {
        display: flex;
        font-size: 18px;

        @include phones() {
            flex-direction: column;
            font-size: 16px;
        }

        .info__left {
            display: flex;
            flex-direction: column;
            margin-right: 50px;

            @include phones() {
                margin-right: 0;
            }

            .left__item {
                display: flex;
                align-items: center;
                color: $black;
                transition: .3s;
                margin-bottom: 30px;
                font-weight: bold;

                &:last-child {
                    margin-bottom: 0;

                    @include phones() {
                        margin-bottom: 30px;
                    }
                }

                &:hover {
                    color: $red;
                }

                .item__text {
                    margin: 0;
                    font-weight: bold;
                }
                
                .item__icon {
                    margin-right: 10px;
                }
            }
        }

        .info__right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .right__link {
                color: $black;
                transition: .3s;
                display: flex;
                align-items: center;
                font-weight: bold;
                font-size: 18px;

                &:hover {
                    color: $red;
                }

                .link__img {
                    margin-right: 10px;
                }
            }

            .right__btn {
                background: none;
                color: $red;
                font-weight: bold;

                @include phones() {
                    order: 3;
                    margin-top: 30px;
                }
            }
        }
    }

    .contacts__map {
        width: 100%;
        background: $blue;
        height: 300px;
        margin-top: 50px;
    }
}

.contacts-faq {
    padding: 30px 0;

    .contacts-faq__title {
        color: $blue;
        font-size: 36px;
        text-transform: uppercase;

        @include phones() {
            font-size: 24px;
        }
    }

    .contacts-faq__list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include tablets() {
            justify-content: center;
            flex-direction: column;
        }

        .list__item {
            width: 48%;
            display: flex;
            justify-content: space-between;
            border: 1px solid $dark-gray;
            background: #ffffff;

            @include tablets() {
                width: 100%;
                margin-bottom: 30px;
            }

            @include phones() {
                width: 100%;
                flex-direction: column;
                margin-bottom: 30px;
                height: 350px;
            }

            .item__img {
                width: 55%;
                position: relative;
                overflow: hidden;

                @include phones() {
                    width: 100%;
                }

                .img__img {
                    height: 100%;

                    @include phones() {
                        width: 100%;
                        height: initial;
                    }
                }
            }

            .item__content {
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;

                @include phones() {
                    width: 100%;    
                }

                .content__title {
                    font-size: 18px;
                    font-weight: bold;
                    margin: 0;
                }

                .content__btn {
                    padding: 20px;
                    width: 100%;
                    background: none;
                    color: $red;

                    .btn__arrow {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}