.footer {
    background: $blue;
    color: #ffffff;
    padding: 30px;
    font-weight: bold;

    .footer__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include phones() {
            flex-direction: column;
        }
    }

    .footer__copy {
        font-size: 16px;

        @include phones() {
            order: 5;
            margin: 10px 0;
        }
    }

    .footer__phone {
        display: none;

        .phone__icon {
            margin-right: 10px;
        }

        @include phones() {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-size: 16px;
            margin: 10px 0;
            font-weight: bold;
        }
    }

    .footer__mail {
        font-size: 16px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        @include phones() {
            margin: 10px 0;
        }

        .mail__icon {
            margin-right: 10px;
        }
    }

    .footer__btn {
        background: $gray;
        color: $blue;
        border: none;

        @include phones() {
            margin: 10px 0;
        }
    }

    &--white {
        background: $gray;
        color: $blue;

        .footer__btn {
            background: $blue;
            color: #ffffff;
        }

        .footer__mail {
            color: $blue;
        }
    }
}