.footer {
    background: $blue;
    color: #ffffff;
    padding: 30px;

    .footer__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer__copy {
        font-size: 16px;
    }

    .footer__mail {
        font-size: 16px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;

        .mail__icon {
            margin-right: 10px;
        }
    }

    .footer__btn {
        background: $gray;
        color: $blue;
        border: none;
    }

    &--white {
        background: $gray;
        color: $blue;

        .footer__btn {
            background: $blue;
            color: #ffffff;
        }

        .footer__mail {
            color: $blue;
        }
    }
}