.footer {
    background: $blue;
    color: #ffffff;
    padding: 30px 0;
    font-weight: bold;

    .footer__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @include phones() {
            flex-direction: column;
            font-size: 18px;
        }
    }

    .footer__copy {
        font-size: 10px;
        margin-top: 30px;
        margin-bottom: 0;
        color: gray;

        .copy__link {
            color: gray;
            text-decoration: underline;
        }

        @include phones() {
            order: 5;
            margin: 10px 0;
            font-size: 11px;
        }
    }

    .footer__phone {
        display: none;

        .phone__icon {
            margin-right: 10px;
        }

        @include phones() {
            display: flex;
            align-items: center;
            color: #ffffff;
            font-size: 18px;
            margin: 0;
            font-weight: bold;
        }
    }

    .footer__menu {
        display: flex;

        @include phones() {
            flex-direction: column;
        }

        .menu__item {
            margin-right: 20px;

            @include phones() {
                margin: 10px 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .item__link {
            color: #ffffff;
            font-size: 18px;
            display: flex;
            align-items: center;

            .link__icon {
                height: 18px;
                margin-right: 10px;
            }
        }
    }

    .footer__socials {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include phones() {
            margin: 10px 0;
        }

        .socials__item {
            margin-right: 20px;
            height: 20px;

            &:last-child {
                margin-right: 0;
            }
        }

        .link__img {
            width: 20px;
            height: 20px;
        }
    }

    .footer__mail {
        font-size: 18px;
        color: #ffffff;
        display: flex;
        align-items: center;
        font-weight: bold;

        @include phones() {
            margin: 0;
            font-size: 18px;
        }

        .mail__icon {
            margin-right: 10px;
        }
    }

    .footer__btn {
        background: $gray;
        color: $blue;
        border: none;
        height: 45px;
        width: 175px;

        @include phones() {
            margin: 10px 0;
        }
    }

    &--white {
        background: $gray;
        color: $blue;

        .footer__btn {
            background: $blue;
            color: #ffffff;
        }

        .footer__mail {
            color: $blue;
        }

        .footer__phone {
            color: $blue;
        }

        .footer__menu {

            .item__link {
                color: $blue;
            }
        }

        .footer__copy {
            color: gray;

            .copy__link {
                color: gray;
            }
        }
    }
}