.header {
    background: $blue;
    padding: 10px 0;
    height: 10vh;

    @include phones() {
        height: initial;
    }

    .header__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {
        height: 50px;

        @include tablets() {
            height: 40px;
        }

        .logo__img {
            height: 100%;
        }
    }

    .header__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 45%;

        @include tablets() {
            width: 50%;
        }

        @include phones() {
            display: none;
        }
        
        .item__link {
            color: #ffffff;
            font-size: 18px;
            transition: .3s;
            text-transform: uppercase;

            @include tablets() {
                font-size: 14px;
            }

            &:hover {
                color: $red;
            }
        }
    }

    .header__phone {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: #ffffff;
        transition: .3s;

        @include tablets() {
            font-size: 16px;
        }

        @include phones() {
            display: none;
        }

        &:hover {
            color: $red;
        }

       .phone__icon {
           height: 20px;
           margin-right: 10px;
       } 
    }

    .header__hamburger {
        display: none;

        @include phones() {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}