.new {
    padding: 30px 0;

    .new__title {
        color: $blue;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
    }

    p {
        font-size: 16px;
        line-height: 24px;
        margin: 5px;
    }

    .new__imgs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;

        .imgs__img {
            width: 30%;
        }
    }
}