.sales {
    padding: 30px 0;
    padding-top: 100px;
    background: #F8F8F8;

    @include phones() {
        padding-top: 75px;
    }

    .sales__container {
        align-items: center;
    }

    .sales__btn {
        background: none;
        border: 1px solid $red;
        color: $red;

        &--hide {
            display: none;
        }
    }

    .sales__list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;

        .list__item {
            width: 48%;
            height: 210px;
            display: flex;
            justify-content: space-between;
            border: 1px solid $dark-gray;
            background: #ffffff;
            margin-bottom: 20px;

            &--hide {
                display: none;
            }

            @include phones() {
                flex-direction: column;
                width: 100%;
                margin-right: 0;
                height: 390px;
            }

            .item__img {
                width: 55%;
                position: relative;
                overflow: hidden;

                @include phones() {
                    width: 100%;
                    height: 215px;
                }

                .img__date {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    margin: 0;
                    background: $red;
                    opacity: .8;
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: bold;
                    padding: 15px 10px;

                    @include phones() {
                        padding: 7px 5px;
                        bottom: 0;
                        left: 0;
                    }
                }

                .img__sale {
                    position: absolute;
                    top: 0;
                    margin: 0;
                    right: 0;
                    background: $blue;
                    opacity: .8;
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: bold;
                    padding: 15px 10px;

                    @include phones() {
                        padding: 7px 5px;
                        top: 0;
                    }
                }

                .img__img {
                    height: 100%;

                    @include tablets() {
                        width: 100%;
                        height: initial;
                    }
                }
            }

            .item__content {
                width: 44%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px;

                @include phones() {
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    padding: 25px;
                }

                @include phones() {
                    width: 100%;
                }

                .content__title {
                    font-size: 18px;
                    font-weight: bold;
                    margin: 0;

                    @include phones() {
                        width: 100%;
                        text-align: center;
                    }
                }

                .content__old-price {
                    font-size: 18px;
                    color: #ABABAB;
                    text-decoration: line-through;
                    margin: 0;

                    @include phones() {
                        order: 3;
                    }
                }

                .content__new-price {
                    font-size: 25px;
                    color: $red;
                    margin: 0;
                    font-weight: bold;

                    @include phones() {
                        order: 2;
                        margin-right: 20px;
                    }
                }

                .content__btn {
                    width: 65%;
                    height: 28px;

                    @include phones() {
                        order: 4;
                        width: 160px;
                    }

                    .btn__arrow {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}