.service-hero {
    height: 100vh;
    background-size: contain !important;

    @include phones() {
        background-size: cover !important;
        height: initial;
        padding-bottom: 20px;
        padding-top: 40px;
    }

    .service-hero__container {
        justify-content: center;
        height: 100%;
        position: relative;
    }

    .breadcrumbs {
        position: absolute;
        top: 30px;
        width: 50%;
        overflow: hidden;

        @include phones() {
            width: 80%;
        }
    }

    .service-hero__text {
        width: 45%;

        @include phones() {
            width: 90%;
            margin-top: 75px;
        }

        .text__text {
            text-transform: uppercase;
            color: $red;
            font-size: 30px;
            font-weight: bold;
            margin: 0;

            @include phones() {
                font-size: 24px;
            }
        }

        .text__title {
            font-size: 48px;
            line-height: 59px;
            text-transform: uppercase;
            margin: 16px 0 25px 0;

            @include phones() {
                font-size: 24px;
                line-height: 29px;
                margin: 15px 0;
            }
        }

        .text__price {
            color: $red;
            font-size: 30px;
            margin: 0 0 30px 0;
            font-weight: bold;
            margin-left: 10px;

            @include phones() {
                font-size: 24px;
            }
        }

        .text__btns {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include phones() {
                justify-content: flex-start;
            }

            .btns__link {
                background: none;
                color: $red;

                @include phones() {
                    display: none;
                }

                .btn__img {
                    margin-left: 20px;
                }

                &--phone {
                    display: none;

                    @include phones() {
                        display: flex;
                        width: 40px;
                        margin-left: 10px;

                        .btn__img {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}