<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Росмедицина</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container header__container">
                <a href="#" class="header__logo">
                    <img src="./assets/images/logo.png" alt="moscow medical department" class="logo__img">
                </a>
                <ul class="header__menu">
                    <li class="menu__item">
                        <a href="#" class="item__link">Акции</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="item__link">Услуги</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="item__link">Бригады</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="item__link">Новости</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="item__link">Контакты</a>
                    </li>
                </ul>
                <a href="#" class="header__phone">
                    <img src="./assets/images/phone.png" alt="телефон" class="phone__icon">
                    8-495-755-35-03
                </a>
            </div>
        </header>
        <section class="section contacts">
            <div class="container contacts__container">
                <h1 class="contacts__title">Контакты</h1>
                <h2 class="contacts__subtitle">Moscow medical department</h2>
                <div class="contacts__info">
                    <div class="info__left">
                        <div class="left__item">
                            <img src="./assets/images/contacts/addres.png" alt="адрес" class="item__icon">
                            <p class="item__text">111123, г.Москва, Шоссе Энтузиастов, д.31, стр.27</p>
                        </div>
                        <div class="left__item">
                            <img src="./assets/images/contacts/clock.png" alt="адрес" class="item__icon">
                            <p class="item__text">Будни с 10.00 до 18.00 (касса)</p>
                        </div>
                        <a href="#" class="left__item">
                            <img src="./assets/images/contacts/mail.png" alt="адрес" class="item__icon">
                            med@03.com.ru
                        </a>
                    </div>
                    <div class="info__right">
                        <a href="#" class="right__link">
                            <img src="./assets/images/contacts/phone.png" alt="телефон" class="link__img">
                            8-495-755-35-03 (24/7)
                        </a>
                        <button class="btn right__btn">Заказать звонок</button>
                    </div>
                </div>
                <div class="contacts__map"></div>
            </div>
        </section>
        <section class="section contacts-faq">
            <div class="container contacts-faq__container">
                <h1 class="contacts-faq__title">Полезно знать</h1>
                <ul class="contacts-faq__list">
                    <li class="list__item">
                        <div class="item__img">
                            <img src="./assets/images/sale.png" alt="Акция" class="img__img">
                        </div>
                        <div class="item__content">
                            <h2 class="content__title">
                                Как вызвать скорую
                            </h2>
                            <p class="content__text">
                                Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать дизайнеру,
                                верстальщику,
                            </p>
                            <a href="#" class="btn content__btn">
                                Подробнее
                                <img src="./assets/images/arrow-red.png" alt="Подробнее" class="btn__arrow">
                            </a>
                        </div>
                    </li>
                    <li class="list__item">
                        <div class="item__img">
                            <img src="./assets/images/sale.png" alt="Акция" class="img__img">
                        </div>
                        <div class="item__content">
                            <h2 class="content__title">
                                Как вызвать скорую
                            </h2>
                            <p class="content__text">
                                Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать дизайнеру,
                                верстальщику,
                            </p>
                            <a href="#" class="btn content__btn">
                                Подробнее
                                <img src="./assets/images/arrow-red.png" alt="Подробнее" class="btn__arrow">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section callback">
            <div class="container callback__container">
                <h2 class="callback__title">Мы становимся лучше с вашей помощью.</h2>
                <h3 class="callback__subtitle">Оставьте отзыв или пожелание о работе нашей клиники.</h3>
                <form action="" class="callback__form">
                    <div class="form__block">
                        <input type="text" class="form__inp" placeholder="Ваше имя">
                        <img src="./assets/images/form/name.png" alt="имя" class="form__img">
                    </div>
                    <div class="form__block">
                        <input type="text" class="form__inp" placeholder="Email">
                        <img src="./assets/images/form/email.png" alt="имя" class="form__img">
                    </div>
                    <div class="form__block">
                        <input type="text" class="form__inp" placeholder="Текст сообщения">
                        <img src="./assets/images/form/text.png" alt="имя" class="form__img">
                    </div>
                    <div class="form__block-btn">
                        <button class="btn form__btn">отправить</button>
                    </div>
                </form>
            </div>
        </section>
        <footer class="footer">
            <div class="container footer__container">
                <p class="footer__copy">© 2018 www.03.com.ru</p>
                <a href="#" class="footer__mail">
                    <img src="./assets/images/form/email.png" alt="mail" class="mail__icon">
                    med@03.com.ru
                </a>
                <a href="#" class="btn footer__btn">оплатить онлайн</a>
            </div>
        </footer>
        <div class="bg"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>