<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Росмедицина</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container header__container">
                <a href="./index.html" class="header__logo">
                    <img src="assets/images/logo.jpg" alt="moscow medical department" class="logo__img">
                </a>
                <ul class="header__menu">
                    <li class="menu__item">
                        <a href="./sales.html" class="item__link">Акции</a>
                    </li>
                    <li class="menu__item">
                        <a href="./services.html" class="item__link">Услуги</a>
                    </li>
                    <li class="menu__item">
                        <a href="./services.html" class="item__link">Бригады</a>
                    </li>
                    <li class="menu__item">
                        <a href="./news.html" class="item__link">Новости</a>
                    </li>
                    <li class="menu__item">
                        <a href="./contacts.html" class="item__link">Контакты</a>
                    </li>
                </ul>
                <a href="tel:+74957553503" class="header__phone">
                    <img src="assets/images/new/phone.svg" alt="телефон" class="phone__icon">
                    8-495-755-35-03
                </a>
                <button class="header__hamburger">
                    <img src="assets/images/new/hamburger.svg" alt="меню" class="hamburger__img">
                </button>
                <button class="header__exit-popup"> × </button>
            </div>
        </header>
        <section class="section reviews-page">
            <div class="container reviews__container">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item">
                        <a href="[[~1]]" class="item__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        /
                    </li>
                    <li class="breadcrumbs__item">
                        Лицензии
                    </li>
                </ul>
                <h1 class="title license__title">Коммерческая скорая помощь</h1>
                <div class="reviews__slider-wrap">
                    <button class="arrows__btn arrows__btn--left">
                        <img src="./assets/images/new/arrow-left-white.svg" alt="слайд влево" class="arrow__img">
                    </button>
                    <button class="arrows__btn arrows__btn--right">
                        <img src="./assets/images/new/arrow-right-white.svg" alt="слайд вправо" class="arrow__img">
                    </button>
                    <div class="reviews__slider">
                        <div class="reviews__slide">
                            <img src="./assets/images/licenses/1.jpg" alt="Лицензия на скорую медицинскую помощь" class="slide__img">
                        </div>
                        <div class="reviews__slide">
                            <img src="./assets/images/licenses/2.jpg" alt="Лицензия на сопровождение скорой помощи" class="slide__img">
                        </div>
                        <div class="reviews__slide">
                            <img src="./assets/images/licenses/3.jpg" alt="Лицензия на перевозку больного самолетом" class="slide__img">
                        </div>
                        <div class="reviews__slide">
                            <img src="./assets/images/licenses/4.jpg" alt="Лицензия на выезд платного врача на дом" class="slide__img">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section callback">
            <div class="container callback__container">
                <h2 class="callback__title">ОСТАВЬТЕ ЗАЯВКУ И ПОЛУЧИТЕ ОПЕРАТИВНУЮ ПОМОЩЬ</h2>
                <form method="post" class="callback__form ajax_form">

                    <div class="form__block">
                        <input type="text" class="form__inp" name="name" value="" placeholder="Имя">
                        <img src="assets/images/new/form/name.svg" alt="имя" class="form__img">
                    </div>
                    <div class="form__block">
                        <input type="text" class="form__inp" name="phone" value="" placeholder="Телефон">
                        <img src="assets/images/new/phone.svg" alt="телефон" class="form__img">
                    </div>
                    <div class="form__block">
                        <input type="text" class="form__inp" name="email" value="" placeholder="E-mail">
                        <img src="assets/images/new/form/email.svg" alt="e-mail" class="form__img">
                    </div>
                    <div class="form__block-btn">
                        <button class="btn form__btn">отправить</button>
                        <p class="callback__text">Нажимая на кнопку отправить, <br> я даю согласие на <a
                                href="assets/docs/soglasie-na-obrabotku-personalnih-dannih.pdf" target="_blank"
                                class="text__link">обработку данных</a></p>
                    </div>
                </form>
            </div>
        </section>
        <footer class="footer">
            <div class="container footer__container">
                <ul class="footer__menu">
                    <li class="menu__item">
                        <a href="./about.html" class="item__link">
                            <img src="./assets/images/footerIcons/about.svg" alt="О компании" class="link__icon">
                            О компании
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="./license.html" class="item__link">
                            <img src="./assets/images/footerIcons/license.svg" alt="Лицензии" class="link__icon">
                            Лицензии
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="./reviews.html" class="item__link">
                            <img src="./assets/images/footerIcons/reviews.svg" alt="Отзывы" class="link__icon">
                            Отзывы
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="./services.html" class="item__link">
                            <img src="./assets/images/footerIcons/faq.svg" alt="Полезно знать" class="link__icon">
                            Полезно знать
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="mailto:mmd03@bk.ru" class="footer__mail">
                            <img src="./assets/images/new/form/email.svg" alt="mail" class="mail__icon">
                            mmd03@bk.ru
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="tel:+74957553503" class="footer__phone">
                            <img src="./assets/images/new/phone.svg" alt="телефон" class="phone__icon">
                            8-495-755-35-03
                        </a>
                    </li>
                </ul>
                <a href="#" class="btn footer__btn">оплатить онлайн</a>
                <ul class="footer__socials">
                    <li class="socials__item">
                        <a href="https://www.instagram.com/03.com.ru/" target="_blank" class="item__link">
                            <img src="./assets/images/socials/inst.svg" alt="Instagram" class="link__img">
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="https://vk.com/mmd03" target="_blank" class="item__link">
                            <img src="./assets/images/socials/vk.svg" alt="Vk" class="link__img">
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="https://www.facebook.com/groups/491510441415947/?ref=bookmarks" target="_blank"
                            class="item__link">
                            <img src="./assets/images/socials/fb.svg" alt="Facebook" class="link__img">
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="https://ok.ru/mmd03" target="_blank" class="item__link">
                            <img src="./assets/images/socials/od.svg" alt="ok.ru" class="link__img">
                        </a>
                    </li>
                </ul>
                <div class="footer__bottom">
                    <p class="footer__copy">© 2013-2020, <a href="./index.html" class="copy__link">www.03.com.ru</a> Все права
                        защищены. Любое использование
                        материалов сайта допускается только по согласованию с руководством сайта, с обязательной
                        гиперссылкой на сайт <a href="./index.html" class="copy__link">www.03.com.ru.</a>
                        <br>Незаконное использование преследуется по закону. Все рекомендации по лечению даются только
                        при
                        очной консультации специалистов. Оставаясь на сайте, вы даёте согласие на <a
                            href="./assets/docs/soglasie-na-obrabotku-personalnih-dannih.pdf" target="_blank"
                            class="copy__link">обработку
                            персональных данных.</a></p>
                </div>
            </div>
        </footer>
        <div class="bg"></div>
        <div class="popup">
            <button class="popup__exit">
                <img src="./assets/images/new/popup/exit.svg" alt="закрыть окно" class="exit__img">
            </button>
            <h2 class="popup__title">Обратный звонок</h2>
            <form method="post" class="popup__form">
                <div class="form__row">
                    <img src="./assets/images/new/popup/name.svg" alt="имя" class="form__icon">
                    <input type="text" class="row__inp" name="name" value="" placeholder="Имя">
                </div>
                <div class="form__row">
                    <img src="./assets/images/new/popup/phone.svg" alt="телефон" class="form__icon">
                    <input type="text" class="row__inp" name="phone" value="" placeholder="Телефон">
                </div>
                <p class="form__text">
                    Нажимая на кнопку отправить, <br> я даю согласие <a
                        href="./assets/docs/soglasie-na-obrabotku-personalnih-dannih.pdf" target="_blank"
                        class="text__link">на
                        обработку данных</a>
                </p>
                <button class="btn form__btn">отправить</button>
            </form>
        </div>
        <div class="popup-menu">
            <ul class="popup-menu__menu">
                <li class="menu__item">
                    <a href="./sales.html" class="item__link">Акции</a>
                </li>
                <li class="menu__item">
                    <a href="./services.html" class="item__link">Услуги</a>
                </li>
                <li class="menu__item">
                    <a href="./services.html" class="item__link">Бригады</a>
                </li>
                <li class="menu__item">
                    <a href="./news.html" class="item__link">Новости</a>
                </li>
                <li class="menu__item">
                    <a href="./contacts.html" class="item__link">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>